body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('Img/imagen\ registro.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.form {
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #00bfff;
  margin-bottom: 20px;
}

.message {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-top: 20px;
}

.signin a {
  color: #00bfff;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.input:focus {
  outline: none;
  border-color: #00bfff;
}

.submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #00bfff;
  cursor: pointer;
}

.submit:hover {
  background-color: #00bfff96;
}

.error {
  color: red;
  margin-top: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.label {
  width: 48%;
}
